.header {
  width: 100vw;
  height: 50px;
  color: black;
  background-color: orange;
  text-align: center;
  text-transform: uppercase;
  border-style: solid;
  border-color: black; }

.nav {
  width: 100vw;
  background-color: orange;
  text-transform: uppercase;
  border-style: solid;
  border-color: black;
  font-weight: bolder;
  display: flex;
  justify-content: center; }

body {
  color: black; }

main {
  color: black;
  border-color: black;
  border-style: solid;
  text-align: center;
  width: 100vw; }

.footer {
  width: 100vw;
  color: black;
  display: flex;
  background-color: orange;
  justify-content: center;
  font-size: large;
  font-weight: bold; }

#ulMenu {
  list-style: none;
  display: inline-block; }

ul ul {
  list-style: none;
  display: none; }

#liPro:hover {
  color: #070707; }

#liSer:hover {
  color: #0e0d0d; }

ul li:hover ul {
  display: block; }

table {
  color: black;
  text-align: center;
  margin: auto;
  border: black;
  border-style: solid; }

.carac1 {
  font-style: italic;
  font-weight: bold;
  font-family: Verdana;
  letter-spacing: 0%;
  font-size: medium;
  text-align: center;
  text-transform: uppercase;
  line-height: 0%;
  line-height: 0%;
  text-decoration: underline;
  word-spacing: 0px;
  letter-spacing: 0px; }

.carac2 {
  font-style: italic;
  font-weight: bold;
  font-family: Verdana;
  letter-spacing: 0%;
  font-size: medium;
  text-align: center;
  text-transform: uppercase;
  line-height: 0%;
  line-height: 0%;
  text-decoration: underline;
  word-spacing: 0px;
  letter-spacing: 0px; }

.carac3 {
  font-style: italic;
  font-weight: bold;
  font-family: Verdana;
  letter-spacing: 0%;
  font-size: medium;
  text-align: center;
  text-transform: uppercase;
  line-height: 0%;
  line-height: 0%;
  text-decoration: underline;
  word-spacing: 0px;
  letter-spacing: 0px; }

/* FLEXBOX */
.containerone {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: normal;
  border-style: solid;
  border-color: black; }

.flex-items {
  height: 100px;
  text-align: center;
  color: black;
  font-size: 20px; }

.impar {
  background-color: #ff0055; }

.Divform {
  border: black;
  border-style: solid; }

/* GRIDS */
.Grid {
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-row-gap: 10px;
  grid-column-gap: 10px;
  grid-template-areas: "one two three"
 "four five six"; }

.item {
  align-items: stretch;
  justify-items: stretch;
  padding: 5px;
  border: solid black; }

#one {
  grid-area: one; }

#two {
  grid-area: two; }

#three {
  grid-area: three; }

#four {
  grid-area: four; }

#five {
  grid-area: five; }

#six {
  grid-area: six; }

/* MEDIA QUERIES */
@media only screen and (min-width: 320px) {
  header {
    background-color: orange; }
  nav {
    background: linear-gradient(to left, #ff00bf white); }
  main {
    background: linear-gradient(to left, red, yellow); } }

@media only screen and (min-width: 480px) {
  header {
    background-color: orange; }
  nav {
    background: linear-gradient(to left, #ff00bf, white); }
  main {
    background: linear-gradient(to left, red, yellow); } }

@media only screen and (min-width: 600px) {
  header {
    background-color: orange; }
  nav {
    background: linear-gradient(to left, white, #ff00bf); }
  main {
    background: linear-gradient(to left, red, yellow); } }

@media only screen and (min-width: 768px) {
  header {
    background-color: orange; }
  nav {
    background: linear-gradient(to left, #ff00bf te, white); }
  main {
    background: linear-gradient(to left, red, yellow); } }

@media only screen and (min-width: 1024px) {
  header {
    background-color: orange; }
  nav {
    background: linear-gradient(to left, white, #ff00bf); }
  main {
    background: linear-gradient(to left, red, yellow); } }

@media only screen and (min-width: 1200x) {
  header {
    background-color: orange; }
  nav {
    background: linear-gradient(to left, #ff00bf, white); }
  main {
    background: linear-gradient(to left, red, yellow); } }
