<!DOCTYPE html>
<html lang="es">
<head>
    <!-- Meta, title and links -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="CARRO, COMPRA, VENTA, USADO, NUEVO, MOTOCICLETA">
    <meta name="description" content="Car Style ">
    <link rel="stylesheet" href="../Sass/css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <title>CarStyle</title>
</head>
<body>
      <!-- Header -->
    <header class="header">
        <h1><p>Car Style</p></h1>
    </header>
        <!-- Nav -->
    <nav class="nav">
        <span>
            <a href="../index.html">Inicio</a>
            <a href="./Audi.html">Audi</a>
            <a href="./Bmw.html">Bmw</a>
            <a href="./Porsche.html">Porsche</a>
            <a href="./Contactenos.html">Contáctenos</a>
        </span>
    </nav> 
    <main>
      <h2> Descubre la nueva BMW X7</h2>
      <!-- iframe -->
      <iframe width="560" height="315" src="https://www.youtube.com/embed/9X_uPjJW9mY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <br>
      <br>
      <h3>Galeria</h3>
      <!-- Bootstrap -->
      <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="../Resources/Bmw 1.png" class="d-block w-100" alt="Audi 1">
            </div>
            <div class="carousel-item">
              <img src="../Resources/Bmw 2.png" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="../Resources/Bmw 3.png" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="../Resources/Bmw 4.png" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="../Resources/Bmw 5.png" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="../Resources/Bmw 6.png" class="d-block w-100" alt="...">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
        <h4>Especificaciones</h4>
        <div>
          <table>
            <tr>
              <th>Característica</th>
              <th>Valor</th>
            </tr>
            <tr>
              <td>Motor</td>
              <td>Motor V6 3.0L 24 válvulas DOHC TFSI</td>
            </tr>
            <tr>
              <td>Potencia</td>
              <td>340 hp @ 5,500-6,500 rpm y torque 368 lb-ft @ 2,900-5,300 rpm</td>
            </tr>
            <tr>
              <td>Tracción</td>
              <td>Integral en las 4 ruedas quattro</td>
            </tr>
            <tr>
              <td>Transmisión</td>
              <td>Automática Tiptronic® de 8 velocidades</td>
            </tr>
            <tr>
              <td>Velocidad</td>
              <td>Máxima 250 km/h</td>
            </tr>
            <tr>
              <td>Aceleración</td>
              <td>0-100 km/h en 6.2 segundos</td>
            </tr>
            <tr>
              <td>Rendimiento de combustible</td>
              <td>10.3 km/l</td>
            </tr>
            <tr>
              <td>Cumple</td>
              <td>Norma de emisión de gases EU6</td>
            </tr>
            <tr>
              <td>Capacidad del maletero</td>
              <td>605 litros</td>
            </tr>
            <tr>
              <td>Capacidad del tanque de combustible</td>
              <td>85 litros</td>
            </tr>
            <tr>
              <td>Anclaje de asiento de niño delantero</td>
              <td>ISOFIX</td>
            </tr>
            <tr>
              <td>Asistente de arranque</td>
              <td>(Audi Hold Assist)</td>
            </tr>
            <tr>
              <td>Control electrónico de estabilidad</td>
              <td>(ESC)</td>
            </tr>
            <tr>
              <td>Frenos de disco</td>
              <td>4 ruedas</td>
            </tr>
            <tr>
              <td>Suspensión</td>
              <td>Con regulación de amortiguadores</td>
            </tr>
            <tr>
              <td>Audi music Interface</td>
              <td>Delantero y trasero</td>
            </tr>
            <tr>
              <td>Reproductor</td>
              <td>DVD</td>
            </tr>
            <tr>
              <td>Sistema de Navegación</td>
              <td>Plus MMI con MMI touch</td>
            </tr>
          </table>
        </div>
        <br>
        <div>
          <button type="button" class="btn btn-dark">
            <a href="./Contactenos.html">QUIERO COMPRARLO</a>
          </button>
        </div>
        <br>
    </main>
<footer class="footer">
    <span>
      <a href="mailto:rentautilsas@gmail.com">Correo: Rentautilsas@gmail.com</a>
        <p>Dirección: Calle 20 # 20 - 20, Medellín, Antioquia, Colombia</p>
        <p>Teléfono: +573108339999</p>
        <!-- <a href="https://www.facebook.com">www.facebook.com</a> -->
    </span>
</footer>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>
</body>
</html>