<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Meta, title and links -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="CARRO, COMPRA, VENTA, USADO, NUEVO, MOTOCICLETA">
    <meta name="description" content="Car Style ">
    <link rel="stylesheet" href="../Sass/css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <title>CarStyle</title>
</head>
<body>
           <!-- Header -->
           <header class="header">
            <h1><p>Car Style</p></h1>
        </header>
            <!-- Nav -->
        <nav class="nav">
            <span>
                <a href="../index.html">Inicio</a>
                <a href="./Audi.html">Audi</a>
                <a href="./Bmw.html">Bmw</a>
                <a href="./Porsche.html">Porsche</a>
                <a href="./Contactenos.html">Contáctenos</a>
            </span>
        </nav> 
        <main>
            <!-- Audio -->
            <h2>Relajate con música y contáctanos</h2>
            <audio src="../Resources/How Deep Is Your Love.mp3" controls></audio> -->
            <div class="Grid">
            <section class="item" id="header">Header</section>
            <section class="item" id="home">Home</section>
            <section class="item" id="about">About</section>
            <section class="item" id="nav">Nav</section>
            <aside class="item">Aside</aside>
            <section class="item" id="footer">Footer</section>
        </div>
            <div>
                <form>
                    <p>Contactenos</p>
                    <p>Nombre</p>
                    <label for="Nombre"></label>
                    <input id="Nombre" type="text" placeholder="Nombre">
                    <p>Apellido</p>
                    <label for="Apellido"></label>
                    <input id="Apellido" type="text" placeholder="Apellido">
                    <p>Edad</p>
                    <label for="Edad"></label>
                    <input id="Edad" type="number" placeholder="Edad">
                    <p>Correo</p> 
                    <label for="Correo"></label>
                    <input id="Correo" type="text" placeholder="Correo">
                    <p>Ubicación</p>
                    <select name="Ubicación" id="Ubiación">
                        <option value="Colombia">Colombia</option>
                        <option value="Alemania">Alemania</option>
                        <option value="Mexico">Mexico</option>
                    </select>
                    <p>Sexo</p>
                    <input type="radio" name="Sex" value="Hombre">Hombre
                    <input type="radio" name="Sex" value="Mujer">Mujer
                    <input type="radio" name="Sex" value="No responde">No responde
                    <p>Autorizo datos personales</p>
                    <input type="Checkbox"> 
                    Autorizo
                    <br>
                    <br>
                    <input type="reset" value="Reset">
                    <br>
                    <br>
                    <input type="submit">
                    <br>
                </form>
            </div>
            <div class="containerone">
                <div class="flex-items">1</div>
                <div class="flex-items impar">2</div>
                <div class="flex-items">3</div>
                <div class="flex-items impar">4</div>
            </div> 
</body>
<footer class="footer">
    <span>
        <p>Correo: rentautilsas@gmail.com</p>
        <p>Dirección: Calle 20 # 20 - 20, Medellín, Antioquia, Colombia</p>
        <p>Teléfono: +573108339999</p>
    </span>
</footer>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>
</html>