<!DOCTYPE html>
<html lang="es">
<head>
    <!-- Meta, title and links -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Sass/css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <title>Car Style</title>
</head>
<body>
    <header class="header">
        <section>
            <h1 id="CarStyle">
                <p>Car Style</p>   
            </h1>
        </section>
        <section>
            <nav id="navh">
                    <span>
                        <a href="../index.html">Inicio</a>
                        <a href="./Comprar.html">Comprar</a>
                        <a href="./Vender.html">Vender</a>
                        <a href="./Contactenos.html">Contactenos</a>
                    </span>
            </nav> 
        </section>
        <hr>
    </header>